  .login {
    width: 100%;
    height: 100%;
    display: flex;

    p, a, button, input, h1 {
      font-family: 'Abel', sans-serif;
    }

    .welcomeSection {
      width: 50%;
      background: #F6EED0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      h1 {
        font-size: 5rem;
        font-family: 'East Sea Dokdo', cursive;
      }

      img {
        width: 80%;
      }
    }

    .loginContainer {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      form {
        width: 70%;
        height: 30rem;
        display: flex;
        flex-direction: column;
        padding: 0 4rem;
        justify-content: center;
        text-align: center;

        h1 {
          font-size: 5rem;
          margin-bottom: 2rem;
          font-family: 'East Sea Dokdo', cursive;
        }

        .errorMsg {
          color: red;
        }

        .inputFields {

          input {
            outline: none;
            border: 1px solid lightgray;
            height: 3rem;
            border-radius: 0.5rem;
            padding: 0 1rem;
            width: 100%;
            margin-bottom: 2rem;
            font-size: 0.8rem;
          }
        }

        .btnContainer {
          display: flex;
          flex-direction: column;
          text-align: center;

          .btns {
            display: flex;
            width: 100%;
            justify-content: center;
            margin-bottom: 2rem;

            button {
              height: 3rem;
              width: 10rem;
              border: 1px solid lightgray;
              border-radius: 0.5rem;
              margin: 0 2rem;
              background-color: #324F57;
              color: white;
              outline: none;
            }

            #signIn {
              background: #F6EED0;
              color: black;
            }
          }
        }
      }
    }
} 

