img {
    width: 80px;
    margin: 1rem;
}

nav {
    width: 100%;
    display: flex;
    background-color: #F6EED0;

    p, button {
        font-family: 'Abel', sans-serif;
        margin-bottom: 0;
    }

    .nav-bar {
        margin: 0 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;

        button {  
            height: 2.5rem;
            width: 7rem;
            border: 1px solid lightgray;
            border-radius: 0.5rem;
            background-color: #324F57;
            color: white;
            transition: 0.5s;
            outline: none;
            margin-right: 1rem;
        }

        button:hover{
            background-color: rgb(30, 48, 53)
        }
    }
}