.albums {
    
    h2, a, p, h1 {
        font-family: 'Abel', sans-serif;
    }

    p {
        margin-bottom: 0;
    }

    .albumsSection {
        margin: 2rem 10rem 4rem 10rem;
        display: flex;
        flex-direction: column;
        align-items: center;


        .albumContainer{
            display: flex;
            flex-wrap: wrap;
            max-width: 100%;
            padding: 2rem 0;
            margin-top: 4rem;
            border-top: 1px solid lightgray;
            border-bottom: 1px solid lightgray;

            .card{
                display: flex;
                align-items: center;
                min-width: 8rem;
                height: 3rem;
                border: 1px solid #222831;
                margin-right: 1rem;
                color: #222831;
                padding-right: 0.5rem;
                margin-right: 0.5rem;
                margin-bottom: 0.5rem;
                transition: 0.5s;
                
    
                div{
                    display: flex;
                    justify-content: flex-start;
                    width: 100%;
                    align-items: center;
                    height: 100%;

                    .icon{
                        margin-right: 1rem;
                        margin-left: 0.5rem;
                        color: #222831;
                        font-size: 1.3rem;
                    }
                }
            }
            .card:hover{
                text-decoration: none;
                background-color: #F6EED0;
            }
        }

        .fun-fact-container{
            margin-top: 2rem;
            display: flex;
            
            .fun-fact{
                max-width: 200px;
                text-align: center;
                margin-right: 2rem;

                h1 {
                    border: solid 1px lightgray;
                    border-radius: 0.3rem;
                }
            }
        }
        

    }

    .create-new-album{
        button{
            margin-top: 2rem;
            height: 3rem;
            width: 10rem;
            border: 1px solid lightgray;
            border-radius: 0.5rem;
            background-color: #324F57;
            color: white;
            transition: 0.5s;
        }
        button:hover{
            background-color: rgb(30, 48, 53);
        }
    }
}
